.banner--container {
    height: 315px;
    background: url("../images/banner2.png") no-repeat;
    background-size: cover;
    background-position: 50%;

    .banner--text {
        padding: 3rem 20px;
        text-align: center;
        color: $primary;

        h2 {
            font-size: 2.188rem;
            letter-spacing: 4px;
            font-weight: 600;
            line-height: 1.2;
            margin-bottom: 1rem;
        }

        p {
            font-size: 1.095rem;
            font-weight: 300;
            line-height: 1.5;
        }
    }
}

@media screen and (min-width: 576px) {
    .banner--container {
        height: 337.5px;
        background-size: 100% 100%;

        .banner--text {
            p {
                font-size: 1.172rem;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .banner--container {
        height: 506.25px;
    }
}