.banner--container {
    height: 315px;
    background: url("../images/banner2.png") no-repeat;
    background-size: cover;
    background-position: 50%;

    .banner--text {

    }
}

@media screen and (min-width: 576px) {
    .banner--container {
        height: 337.5px;
        background-size: 100% 100%;

    }
}

@media screen and (min-width: 768px) {
    .banner--container {
        height: 506.25px;
        background-size: 100% 100%;
    }
}