header {
    margin: 0 7px 7px 7px;
    padding: 7px;
    background: $blue;
    position: fixed;
    left: 0;
    right: 0;
    top: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .monogram {
        fill: $secondary
    }

    .header--buttons--container {
        display: flex;

        button {
            padding: 0 7px;
            border: none;
            background: none;

            .menu--icon {
                fill: $secondary;
            }

            .cart--icon {
                fill: $secondary;
            }
        }
    }

    .header--nav {
        width: 100%;
        height: 0;

        .header--nav--ul {
            list-style-type: none;
            transform: translate(-100%);
            transition: .3s;
            height: 100%;

            &.show {
                display: flex;
                flex-direction: column;
                position: fixed;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: $blue;
                transform: translate(0);
                box-shadow: 50vw 0 50rem 100vw rgba(0, 0, 0, .75);
                transition: .4s;
                
                li {
                    padding: .625rem .75rem .625rem 0;
                    margin-left: 77px;
                    display: block;
                    font-weight: 300;
                    border-bottom: 1px solid rgba(0,0,0,.125);
                    margin-right: 1rem;
    
                    a {
                        color: $secondary;
                        text-decoration: none;
                        font-size: .875rem;
                        line-height: 1.2;
                        letter-spacing: 1.5px;
    
                        &.link--bold {
                            font-weight: 600;
                        }
                    }
    
    
                    &.link-padding-left {
                        margin-left: 95px;
                    }
    
                    &:nth-last-child(1) {
                        border-bottom: unset;
                    }
                }
                
                .logo--close--container {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: .875rem .875rem .5rem .875rem;
                    margin-left: unset;
                    margin-right: unset;
                    border-bottom: unset;
                }
            }



            button {
                border: none;
                background: none;

                .close {
                    fill: $secondary;
                }
            }
        }
    }
}


@media screen and (min-width: 375px) {
    header {
        .header--nav {
            .header--nav--ul {
                width: 350px;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    header {
        margin: 0 15px 15px 15px;
        padding: 7.5px;
        top: 15px;

        .header--buttons--container {
            button {
                padding: 0px 10px;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    header {
        .header--buttons--container {
            order: 3;
            margin-left: 7.5px;
        }

        .header--nav {
            margin-left: auto;
            width: unset;

            .header--nav--ul {
                width: unset;
                list-style-type: none;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                transform: unset;

                li {
                    padding: 0 17.5px;

                    &.link-padding-left {
                        margin-left: unset;
                        padding: unset;
                    }

                    &.dropdown--link {
                        position: relative;
                        padding: 7.5px 17.5px;

                        &.active {
                            a {
                                color: rgba(255, 255, 255, 0.75);
                            }
                        }
                    

                        .header--desktop--dropdown {
                            display: none;
                        }

                        .showDesktop {
                            box-shadow: 0 1em 2.5em rgba(0,0,0,.333);
                            border: 1px solid rgba(0,0,0,.15);
                            border-radius: 0;
                            list-style-type: none;
                            display: flex;
                            flex-direction: column;
                            position: absolute;
                            top: 100%;
                            min-width: 10rem;
                            background: #fff;
                            padding: 7.5px 0;
                            
                            a {
                                color: #212529;
                                font-weight: 300;
                                font-size: .9375rem;
                                white-space: nowrap;
                                width: 100%;
                                display: inline-block;
                                padding: 3.75px 22.5px;
                                transition: .2s;

                                &:hover {
                                    color: #16181b;
                                    background-color: #e9ecef;
                                    transition: .2s;
                                }
                            }
                        }
                    }
                    

                    a {
                        font-size: .75rem;
                        color: $secondary;
                        text-decoration: none;
                        line-height: 1.5;
                        letter-spacing: 2px;
                    
                        &:hover {
                            color: #e28f74;
                        }

                        &.link--bold {
                            font-weight: 600;
                        }

                        &.dropdown--link {
                            &:hover {
                                color: hsla(0,0%,100%,.75);
                            }

                            &::after {
                                margin-left: 3px;
                                content: "⏷";
                            }
                        }
                    }
                }
            }
        }
    }
}