.hero--container {
    height: 556px;
    background: url("../images/banner.png") no-repeat;
    background-size: cover;
    background-position: 50%;
    position: relative;
    // z-index: -1;

    .hero--text {
        position: absolute;
        bottom: 7.5rem;
        right: 5%;
        width: 260px;
        color: $primary;

        h1 {
            letter-spacing: 4px;
            font-size: 2.1875rem;
            font-weight: 600;
            line-height: 1.2;
            margin-bottom: 1rem;
        }

        p {
            font-size: 1.09375rem;
            font-weight: 300;
            line-height: 1.5;
        }
    }
}

@media screen and (min-width: 390px) {
    .hero--container {
        height: 530px;
    }
}

@media screen and (min-width: 768px) {
    .hero--container {
        height: 675px;

        .hero--text {
            bottom: 11.25rem;
            right: 7.5%;

            h1 {
                font-size: 2.34375rem;
            }

            p {
                font-size: 1.15625rem;
            }
        }
    }
}