.hero--container {
    height: 556px;
    background: url("../images/banner.png") no-repeat;
    background-size: cover;
    background-position: 50%;
}

@media screen and (min-width: 768px) {
    .hero--container {
        height: 675px;
    }
}