.hero--container {
    height: 556px;
    background: url("../images/banner.png") no-repeat;
    background-size: cover;
    background-position: 50%;
    position: relative;
    // z-index: -1;

    .hero--text {
        position: absolute;
        bottom: 7.5rem;
        right: 5%;
        width: 260px;
        color: $primary;

        h1 {
            letter-spacing: 4px;
            font-size: 2.1875rem;
            font-weight: 600;
            line-height: 1.2;
            margin-bottom: 1rem;
        }

        p {
            font-size: 1.09375rem;
            font-weight: 300;
            line-height: 1.5;
        }
    }

    .arrow {
        width: 100%;
        filter: drop-shadow(0 1px .1em rgba(0,0,0,.5));
        fill: $white;
        position: absolute;
        bottom: 2rem;
        left: 0;
        right: 0;
        margin: auto;
        cursor: pointer;
        transition: .3s;

        &:hover {
            transform: scale(1.2);
            transition: .3s;
        }
    }
}

@media screen and (min-width: 390px) {
    .hero--container {
        height: 530px;
    }
}

@media screen and (min-width: 768px) {
    .hero--container {
        height: 675px;

        .hero--text {
            bottom: 11.25rem;
            right: 7.5%;

            h1 {
                font-size: 2.34375rem;
            }

            p {
                font-size: 1.15625rem;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .hero--container {
        .hero--text {
            bottom: 13.75rem;
            right: 10%;
            width: 425px;
        }
    }
}