article {
    display: block;
    color: $primary;

    a {
        display: block;
        text-decoration: none;

        .img--container {
            position: relative;

            .pre-order {
                position: absolute;
                top: 1rem;
                right: 0;
                background: $primary;
                color: $white;
                font-size: 75%;
                font-weight: 600;
                line-height: 1;
                letter-spacing: 1px;
                padding: 7px 14px;
            }
        }

        .product--desc--container {
            .product--price--container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: .5rem;
                
                h3 {
                    letter-spacing: 1.5px;
                    text-transform: uppercase;
                    font-size: 1.094rem;
                    font-weight: 600;
                    line-height: 1.2;
                    color: $primary;
                    margin-top: 5px;
                }

                div {
                    color: $primary;
                    font-weight: 300;
                    line-height: 1.5;
                    font-size: .925rem;
                    padding: 0.375rem 0;
                    margin-top: -15px;
                    height: 20px;

                    button {
                        border: none;
                        border-radius: 50px;
                        background: $primary;
                        color: $white;
                        letter-spacing: 1px;
                        font-size: .625rem;
                        font-family: inherit;
                        font-weight: 600;
                        line-height: 1.5;
                        padding: 0 1.25rem;
                        height: 22.5px;
                    }
                }
            }
            
            p {
                color: $primary;
                font-size: .8rem;
                font-weight: 300;
                line-height: 1.5;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    article {
        a {
            .img--container {
                .pre-order {
                    font-size: 78.125%;
                }
            }

            .product--desc--container {
                .product--price--container {
                    h3 {
                        font-size: 1.1725rem;
                    }

                    div {
                        font-size: 1.05rem;

                        button {
                            font-size: .725rem;
                        }
                    }
                }

                p {
                    font-size: .85rem;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    article {
        a {
            .product--desc--container {
                .product--price--container {
                    div {
                        button {
                            &:hover {
                                cursor: pointer;
                                background: #111839;
                            }
                        }
                    }
                }
            }
        }
    }
}