@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap');

$blue: #1a2456;
$orange: #ff501c;
$black: #080b1b;
$carrot: #ff8b68;
$gray-bg: #f0efed;
$blue2: #1a2456;
$indigo: #1a2456;
$purple: #1a2456;
$pink: #efc2b3;
$red: #ff8d6b;
$orange2: #ff8d6b;
$yellow: #f5b335;
$green: #5a7f71;
$teal: #5a7f71;
$cyan: #5a7f71;
$white: #fff;
$gray: #6c757d;
$gray-dark: #343a40;
$primary: #1a2456;
$secondary: #efc2b3;
$success: #5a7f71;
$info: #5a7f71;
$warning: #f5b335;
$danger: #ff8d6b;
$light: #efc2b3;
$dark: #1a2456;
// --breakpoint-xs: 0;
// --breakpoint-sm: 576px;
// --breakpoint-md: 768px;
// --breakpoint-lg: 992px;
// --breakpoint-xl: 1200px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: prompt, sans-serif;
    background-color: $gray-bg;
}

img {
    max-width: 100%;
    height: auto;
}

@import "./header";
@import "./hero";
@import "./product";
@import "./console_products";
@import "./banner";
@import "./addons_products";