@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: prompt, sans-serif;
  background-color: #f0efed;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  -webkit-box-shadow: 1px 11px 35px rgba(0, 0, 0, 0.15);
          box-shadow: 1px 11px 35px rgba(0, 0, 0, 0.15);
  margin: 0 7px 7px 7px;
  padding: 7px;
  background: #1a2456;
  position: fixed;
  z-index: 99;
  left: 0;
  right: 0;
  top: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header .logo--link {
  display: -ms-grid;
  display: grid;
  place-content: center;
}

header .monogram {
  fill: #efc2b3;
}

header .header--buttons--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header--buttons--container button {
  padding: 0 7px;
  border: none;
  background: none;
}

header .header--buttons--container button .menu--icon {
  fill: #efc2b3;
}

header .header--buttons--container button .cart--icon {
  fill: #efc2b3;
}

header .header--nav {
  width: 100%;
  height: 0;
}

header .header--nav .header--nav--ul {
  list-style-type: none;
  -webkit-transform: translate(-120%);
          transform: translate(-120%);
  -webkit-transition: .3s;
  transition: .3s;
  height: 100%;
}

header .header--nav .header--nav--ul.show {
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #1a2456;
  -webkit-transform: translate(0);
          transform: translate(0);
  -webkit-box-shadow: 50vw 0 50rem 100vw rgba(0, 0, 0, 0.75);
          box-shadow: 50vw 0 50rem 100vw rgba(0, 0, 0, 0.75);
  -webkit-transition: .4s;
  transition: .4s;
}

header .header--nav .header--nav--ul.show li {
  padding: .625rem .75rem .625rem 0;
  margin-left: 77px;
  display: block;
  font-weight: 300;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  margin-right: 1rem;
}

header .header--nav .header--nav--ul.show li a {
  color: #efc2b3;
  text-decoration: none;
  font-size: .875rem;
  line-height: 1.2;
  letter-spacing: 1.5px;
}

header .header--nav .header--nav--ul.show li a.link--bold {
  font-weight: 600;
}

header .header--nav .header--nav--ul.show li.link-padding-left {
  margin-left: 95px;
}

header .header--nav .header--nav--ul.show li:nth-last-child(1) {
  border-bottom: unset;
}

header .header--nav .header--nav--ul.show .logo--close--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: .875rem .875rem .5rem .875rem;
  margin-left: unset;
  margin-right: unset;
  border-bottom: unset;
}

header .header--nav .header--nav--ul button {
  border: none;
  background: none;
}

header .header--nav .header--nav--ul button .close {
  fill: #efc2b3;
}

@media screen and (min-width: 375px) {
  header .header--nav .header--nav--ul {
    width: 350px;
  }
}

@media screen and (min-width: 768px) {
  header {
    margin: 0 15px 15px 15px;
    padding: 7.5px;
    top: 15px;
  }
  header .header--buttons--container button {
    padding: 0px 10px;
  }
}

@media screen and (min-width: 1024px) {
  header .monogram:hover {
    fill: #e28f74;
  }
  header .header--buttons--container {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-left: 7.5px;
  }
  header .header--nav {
    margin-left: auto;
    width: unset;
  }
  header .header--nav .header--nav--ul {
    width: unset;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: unset;
            transform: unset;
  }
  header .header--nav .header--nav--ul li {
    padding: 0 17.5px;
  }
  header .header--nav .header--nav--ul li.link-padding-left {
    margin-left: unset;
    padding: unset;
  }
  header .header--nav .header--nav--ul li.dropdown--link {
    position: relative;
    padding: 7.5px 17.5px;
  }
  header .header--nav .header--nav--ul li.dropdown--link.active a {
    color: rgba(255, 255, 255, 0.75);
  }
  header .header--nav .header--nav--ul li.dropdown--link .header--desktop--dropdown {
    display: none;
  }
  header .header--nav .header--nav--ul li.dropdown--link .showDesktop {
    -webkit-box-shadow: 0 1em 2.5em rgba(0, 0, 0, 0.333);
            box-shadow: 0 1em 2.5em rgba(0, 0, 0, 0.333);
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 100%;
    min-width: 10rem;
    background: #fff;
    padding: 7.5px 0;
  }
  header .header--nav .header--nav--ul li.dropdown--link .showDesktop a {
    color: #212529;
    font-weight: 300;
    font-size: .9375rem;
    white-space: nowrap;
    width: 100%;
    display: inline-block;
    padding: 3.75px 22.5px;
    -webkit-transition: .2s;
    transition: .2s;
  }
  header .header--nav .header--nav--ul li.dropdown--link .showDesktop a:hover {
    color: #16181b;
    background-color: #e9ecef;
    -webkit-transition: .2s;
    transition: .2s;
  }
  header .header--nav .header--nav--ul li a {
    font-size: .75rem;
    color: #efc2b3;
    text-decoration: none;
    line-height: 1.5;
    letter-spacing: 2px;
  }
  header .header--nav .header--nav--ul li a:hover {
    color: #e28f74;
  }
  header .header--nav .header--nav--ul li a.link--bold {
    font-weight: 600;
  }
  header .header--nav .header--nav--ul li a.dropdown--link:hover {
    color: rgba(255, 255, 255, 0.75);
  }
  header .header--nav .header--nav--ul li a.dropdown--link::after {
    margin-left: 3px;
    content: "⏷";
  }
}

.cart--modal {
  overflow: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  -webkit-transform: translate(200%);
          transform: translate(200%);
  width: 100%;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart--modal.show {
  background: #fff;
  z-index: 99;
  top: 0;
  bottom: 0;
  -webkit-box-shadow: 0vw 0 100rem 100vw rgba(0, 0, 0, 0.75);
          box-shadow: 0vw 0 100rem 100vw rgba(0, 0, 0, 0.75);
  -webkit-transform: translate(0);
          transform: translate(0);
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
  height: 100vh;
}

.cart--modal .arrow--container {
  background: #1a2456;
  padding: 1.5rem .875rem;
}

.cart--modal .arrow--container button {
  border: none;
  background: none;
  font-family: inherit;
  font-weight: 600;
  font-size: .8rem;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.cart--modal .arrow--container button .arrow {
  fill: #fff;
  margin-right: .5rem;
}

.cart--modal .items--container {
  padding: .875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.cart--modal .empty--cart--text {
  text-align: center;
}

.cart--modal .empty--cart--text h3 {
  margin: 52px 0 14px 0;
  font-size: 1.095rem;
  font-weight: 300;
  letter-spacing: 2px;
  color: #1a2456;
}

.cart--modal .empty--cart--text p {
  margin-bottom: 42px;
  font-size: .875rem;
  color: #6c757d;
  line-height: 1.5;
}

.cart--modal .empty--cart--text p a {
  color: #ff7952;
  text-decoration: none;
}

.cart--modal .guarantee--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
}

.cart--modal .guarantee--container img {
  width: 84px;
  height: 79.7px;
}

.cart--modal .guarantee--container h4 {
  font-size: .875rem;
  font-weight: 600;
  color: #1a2456;
  letter-spacing: 1.5px;
  line-height: 1.2;
  margin-bottom: 7px;
}

.cart--modal .guarantee--container p {
  color: #1a2456;
  font-size: .6125rem;
  font-weight: 300;
  line-height: 1.5;
}

.cart--modal .empty--space {
  margin-top: 14px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.cart--modal .payments--container {
  margin-top: auto;
}

.cart--modal .payments--container p {
  text-align: center;
  font-size: .735rem;
  color: #6c757d;
  font-weight: 300;
}

.cart--modal .payments--container .available--payments {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 6px;
}

.cart--modal .checkout--container {
  padding: 1.5rem .875rem;
  background: #1a2456;
  margin-top: auto;
}

.cart--modal .checkout--container .price--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 17.5px;
}

.cart--modal .checkout--container .price--container h5, .cart--modal .checkout--container .price--container p {
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 1.5px;
  color: #fff;
}

.cart--modal .checkout--container .checkout--button {
  margin: 3.5px 0 14px 0;
}

.cart--modal .checkout--container .checkout--button button {
  width: 100%;
  background: #efc2b3;
  border: none;
  border-radius: 50rem;
  opacity: .65;
  letter-spacing: 2px;
  line-height: 1.8;
  padding: .6338rem 2.5rem;
  font-family: inherit;
  font-weight: 600;
  font-size: .78125rem;
  color: #212529;
}

.cart--modal .checkout--container .discount--button {
  width: 100%;
  text-align: center;
  border: none;
  background: none;
  font-family: inherit;
  font-size: .65625rem;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1.5;
  color: #ff7952;
}

@media screen and (min-width: 375px) {
  .cart--modal {
    width: 350px;
  }
}

@media screen and (min-width: 768px) {
  .cart--modal .items--container {
    padding: 1rem;
  }
  .cart--modal .arrow--container button {
    font-size: .85rem;
  }
  .cart--modal .empty--cart--text h3 {
    margin: 55px 0 15px 0;
    font-size: 1.172rem;
  }
  .cart--modal .empty--cart--text p {
    margin-bottom: 45px;
    font-size: .9375rem;
  }
  .cart--modal .guarantee--container {
    gap: 8px;
  }
  .cart--modal .guarantee--container img {
    width: 90px;
    height: 85.41px;
  }
  .cart--modal .guarantee--container h4 {
    font-size: .9375rem;
    margin-bottom: 8px;
  }
  .cart--modal .guarantee--container p {
    font-size: .675rem;
  }
  .cart--modal .payments--container p {
    font-size: .79rem;
  }
  .cart--modal .payments--container .available--payments {
    gap: 8px;
  }
  .cart--modal .checkout--container .price--container {
    margin-top: 11px;
    margin-bottom: 18.75px;
  }
  .cart--modal .checkout--container .price--container h5, .cart--modal .checkout--container .price--container p {
    font-size: .9375rem;
  }
  .cart--modal .checkout--container .checkout--button {
    margin: 3.75px 0 15px 0;
  }
  .cart--modal .checkout--container .checkout--button button {
    font-size: .84375rem;
  }
  .cart--modal .checkout--container .discount--button {
    font-size: .70325rem;
  }
}

.hero--container {
  height: 556px;
  background: url("../images/banner.png") no-repeat;
  background-size: cover;
  background-position: 50%;
  position: relative;
}

.hero--container .hero--text {
  position: absolute;
  bottom: 7.5rem;
  right: 5%;
  width: 260px;
  color: #1a2456;
}

.hero--container .hero--text h1 {
  letter-spacing: 4px;
  font-size: 2.1875rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.hero--container .hero--text p {
  font-size: 1.09375rem;
  font-weight: 300;
  line-height: 1.5;
}

.hero--container .arrow {
  width: 100%;
  -webkit-filter: drop-shadow(0 1px 0.1em rgba(0, 0, 0, 0.5));
          filter: drop-shadow(0 1px 0.1em rgba(0, 0, 0, 0.5));
  fill: #fff;
  position: absolute;
  bottom: 2rem;
  left: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.hero--container .arrow:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: .3s;
  transition: .3s;
}

@media screen and (min-width: 390px) {
  .hero--container {
    height: 530px;
  }
}

@media screen and (min-width: 768px) {
  .hero--container {
    height: 675px;
  }
  .hero--container .hero--text {
    bottom: 11.25rem;
    right: 7.5%;
  }
  .hero--container .hero--text h1 {
    font-size: 2.34375rem;
  }
  .hero--container .hero--text p {
    font-size: 1.15625rem;
  }
}

@media screen and (min-width: 1024px) {
  .hero--container .hero--text {
    bottom: 13.75rem;
    right: 10%;
    width: 425px;
  }
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.50;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.50;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

article {
  display: block;
  color: #1a2456;
}

article a {
  display: block;
  text-decoration: none;
}

article a .img--container {
  position: relative;
}

article a .img--container .pre-order {
  position: absolute;
  top: 1rem;
  right: 0;
  background: #1a2456;
  color: #fff;
  font-size: 75%;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 1px;
  padding: 7px 14px;
}

article a .product--desc--container .product--price--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: .5rem;
}

article a .product--desc--container .product--price--container h3 {
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 1.094rem;
  font-weight: 600;
  line-height: 1.2;
  color: #1a2456;
  margin-top: 5px;
}

article a .product--desc--container .product--price--container div {
  color: #1a2456;
  font-weight: 300;
  line-height: 1.5;
  font-size: .925rem;
  padding: 0.375rem 0;
  margin-top: -15px;
  height: 20px;
  -webkit-animation-name: opacity;
          animation-name: opacity;
  -webkit-animation-duration: .2s;
          animation-duration: .2s;
}

article a .product--desc--container .product--price--container div button {
  border: none;
  border-radius: 50px;
  background: #1a2456;
  color: #fff;
  letter-spacing: 1px;
  font-size: .625rem;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.5;
  padding: 0 1.25rem;
  height: 22.5px;
  -webkit-animation-name: opacity;
          animation-name: opacity;
  -webkit-animation-duration: .2s;
          animation-duration: .2s;
}

article a .product--desc--container p {
  color: #1a2456;
  font-size: .8rem;
  font-weight: 300;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  article a .img--container .pre-order {
    font-size: 78.125%;
  }
  article a .product--desc--container .product--price--container h3 {
    font-size: 1.1725rem;
  }
  article a .product--desc--container .product--price--container div {
    font-size: 1.05rem;
  }
  article a .product--desc--container .product--price--container div button {
    font-size: .725rem;
  }
  article a .product--desc--container p {
    font-size: .85rem;
  }
}

@media screen and (min-width: 1024px) {
  article a .product--desc--container .product--price--container div button:hover {
    cursor: pointer;
    background: #111839;
  }
}

.console--products {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

@media screen and (min-width: 576px) {
  .console--products {
    max-width: 540px;
    margin: auto;
  }
}

@media screen and (min-width: 768px) {
  .console--products {
    padding: 2.8125rem 20px;
    max-width: 720px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .console--products article {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 48%;
  }
}

@media screen and (min-width: 1024px) {
  .console--products {
    padding: 2.8125rem 13px;
    max-width: 960px;
  }
}

@media screen and (min-width: 1280px) {
  .console--products {
    gap: 15px;
    padding: 2.8125rem 0;
    max-width: 1160px;
  }
}

.banner--container {
  height: 315px;
  background: url("../images/banner2.png") no-repeat;
  background-size: cover;
  background-position: 50%;
}

.banner--container .banner--text {
  padding: 3rem 20px;
  text-align: center;
  color: #1a2456;
}

.banner--container .banner--text h2 {
  font-size: 2.188rem;
  letter-spacing: 4px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.banner--container .banner--text p {
  font-size: 1.095rem;
  font-weight: 300;
  line-height: 1.5;
}

@media screen and (min-width: 576px) {
  .banner--container {
    height: 337.5px;
    background-size: 100% 100%;
  }
  .banner--container .banner--text h2 {
    font-size: 2.344rem;
  }
  .banner--container .banner--text p {
    font-size: 1.172rem;
  }
}

@media screen and (min-width: 768px) {
  .banner--container {
    height: 506.25px;
  }
}

.addons--products {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

@media screen and (min-width: 576px) {
  .addons--products {
    max-width: 540px;
    margin: auto;
  }
  .addons--products article img {
    width: 100vw;
    height: 333.33px;
  }
}

@media screen and (min-width: 768px) {
  .addons--products {
    padding: 2.8125rem 20px;
    max-width: 720px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .addons--products article {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 48%;
  }
  .addons--products article img {
    width: 100%;
    height: 217.59px;
  }
  .addons--products article:nth-last-child(1) {
    margin-right: auto;
  }
}

@media screen and (min-width: 1024px) {
  .addons--products {
    padding: 2.8125rem 13px;
    max-width: 960px;
  }
  .addons--products article img {
    width: 100%;
    height: 298.88px;
  }
}

@media screen and (min-width: 1280px) {
  .addons--products {
    gap: 15px;
    padding: 2.8125rem 0;
    max-width: 1160px;
  }
  .addons--products article {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 32.4715%;
  }
  .addons--products article img {
    width: 100%;
  }
  .addons--products article:nth-last-child(1) {
    margin-right: unset;
  }
}

.footer {
  background: #1a2456;
  padding: 40px 60px 40px 20px;
}

.footer .footer--nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

.footer .footer--nav .footer--nav--ul {
  list-style-type: none;
}

.footer .footer--nav .footer--nav--ul h4, .footer .footer--nav .footer--nav--ul address, .footer .footer--nav .footer--nav--ul a, .footer .footer--nav .footer--nav--ul p {
  color: #efc2b3;
}

.footer .footer--nav .footer--nav--ul h4 {
  font-weight: 600;
  font-size: .675rem;
  letter-spacing: 1px;
  margin-bottom: .875rem;
}

.footer .footer--nav .footer--nav--ul address {
  font-size: .7875rem;
  font-style: normal;
}

.footer .footer--nav .footer--nav--ul a {
  text-decoration: none;
  font-size: .7875rem;
  font-weight: 300;
}

.footer .footer--nav .footer--nav--ul li {
  margin-bottom: .375rem;
}

.footer .footer--nav .footer--nav--ul p {
  font-weight: 300;
  font-size: .7875rem;
  line-height: 1.5;
}

.footer .footer--nav .footer--nav--ul form {
  margin: .375rem 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer--nav .footer--nav--ul form input[type="email"] {
  margin-right: .4375rem;
  height: 27px;
  border: 1.5px solid #efc2b3;
  background: transparent;
  padding-left: .5rem;
}

.footer .footer--nav .footer--nav--ul form input[type="email"]::-webkit-input-placeholder {
  font-family: prompt, sans-serif;
}

.footer .footer--nav .footer--nav--ul form input[type="email"]:-ms-input-placeholder {
  font-family: prompt, sans-serif;
}

.footer .footer--nav .footer--nav--ul form input[type="email"]::-ms-input-placeholder {
  font-family: prompt, sans-serif;
}

.footer .footer--nav .footer--nav--ul form input[type="email"]::placeholder {
  font-family: prompt, sans-serif;
}

.footer .footer--nav .footer--nav--ul form input[type="submit"] {
  border: none;
  background: #efc2b3;
  color: #212529;
  height: 27px;
  letter-spacing: 1px;
  font-size: .75rem;
  font-weight: 600;
  line-height: 1.5;
  padding: 0 .75rem;
  border-radius: 50px;
}

.footer .footer--nav .footer--nav--ul .footer--socials {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: .5rem 0;
}

.footer .footer--nav .footer--nav--ul .footer--socials a {
  width: 27px;
  height: 27px;
  background: #efc2b3;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-right: .375rem;
}

.footer .footer--nav .footer--nav--ul .footer--socials a .social {
  fill: #1a2456;
}

@media screen and (min-width: 768px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .footer--nav {
    margin: auto;
    padding: 0 40px;
    width: 720px;
  }
  .footer .footer--nav .footer--nav--ul address, .footer .footer--nav .footer--nav--ul a, .footer .footer--nav .footer--nav--ul p {
    font-size: .85rem;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    padding: 40px 0;
  }
  .footer .footer--nav {
    padding: 0 13px;
    width: 960px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: unset;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .footer .footer--nav .footer--nav--ul {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.25%;
            flex: 0 0 16.25%;
  }
  .footer .footer--nav .footer--nav--ul a:hover {
    color: #e28f74;
    text-decoration: underline;
  }
}

@media screen and (min-width: 1280px) {
  .footer .footer--nav {
    padding: unset;
    width: 1160px;
  }
}
/*# sourceMappingURL=general.css.map */