@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap');

$blue: #1a2456;
$orange: #ff501c;
$black: #080b1b;
$carrot: #ff8b68;
$gray: #f0efed;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: prompt, sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}